{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Human Trafficking</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Helping the BYU community learn about and engage with combatting human trafficking</h2>
                        <a class="btn btn-primary" href="#identify">Start Learning Here</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- How to Identify-->
        <section class="about-section text-center" id="identify">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4" style="text-decoration:none">How to Identify</h2>
                        <p class="text-white-50">
                            
                        </p>
                    </div>
                </div>
               <img class="img-fluid" src="{% static 'img/ipad.png'%}" alt="..." width="75%" />
               <br><a href="https://antitrafficking.aau-slc.org/">Source: Refugee and Immigrant Center Asian Association of Utah</a>
            </div>
        </section>
        <!-- How to Help-->
        <section class="about-section text-center" id="help">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4" style="text-decoration:none">How to Help</h2>
                        <p class="text-white-50">
                        <ol class="text-white-50">
                            <li> Learn the indicators of human trafficking on the TIP Office’s website or by taking a training.  Human trafficking awareness training is available for individuals, businesses, first responders, law enforcement, educators, and federal employees, among others.  </li><br>
                            <li> If you are in the United States and believe someone may be a victim of human trafficking, call the 24-hour National Human Trafficking Hotline  at 1-888-373-7888 or report an emergency to law enforcement by calling 911. Trafficking victims, whether or not U.S. citizens, are eligible for services and immigration assistance.  </li><br>
                            <li> Be a conscientious and informed consumer. Find out more about who may have picked your tomatoes or made your clothes at ResponsibleSourcingTool.org , or check out the Department of Labor’s List of Goods Produced by Child Labor or Forced Labor . Encourage companies to take steps to prevent human trafficking in their supply chains and publish the information, including supplier or factory lists, for consumer awareness.  </li><br>
                            <li> Volunteer and support anti-trafficking efforts in your community .   </li><br>
                            <li> Meet with and/or write to your local, state, and federal elected officials  to let them know you care about combating human trafficking and ask what they are doing to address it.   </li><br>
                            <li> Be well-informed. Set up a web alert to receive current human trafficking news. Also, check out CNN’s Freedom Project  for more stories on the different forms of human trafficking around the world.  </li><br>
                            <li> Host an awareness-raising event to watch and discuss films about human trafficking. For example, learn how modern slavery exists today; watch an investigative documentary about sex trafficking; or discover how forced labor can affect global food supply chains. Alternatively, contact your local library and ask for assistance identifying an appropriate book and ask them to host the event.   </li><br>
                            <li> Organize a fundraiser and donate the proceeds to an anti-trafficking organization .  </li><br>
                            <li> Encourage your local schools or school district to include human trafficking in their curricula and to develop protocols  for identifying and reporting a suspected case of human trafficking or responding to a potential victim.   </li><br>
                            <li> Use your social media platforms to raise awareness about human trafficking, using the following hashtags: #endtrafficking, #freedomfirst.   </li><br>
                            <li> Think about whether your workplace is trauma-informed and reach out to management or the Human Resources team to urge implementation of trauma-informed business practices .   </li><br>
                            <li> Become a mentor to a young person or someone in need. Traffickers often target people who are going through a difficult time or who lack strong support systems. As a mentor, you can be involved in new and positive experiences in that person’s life during a formative time.   </li><br>
                            <li> Parents and Caregivers: Learn how human traffickers often target and recruit youth  and who to turn to for help in potentially dangerous situations. Host community conversations with parent teacher associations, law enforcement, schools, and community members regarding safeguarding children in your community.  </li><br>
                            <li> Youth: Learn how to recognize traffickers’ recruitment tactics , how to safely navigate out of a suspicious or uncomfortable situations, and how to reach out for help at any time.   </li><br>
                            <li> Faith-Based Communities : Host awareness events and community forums with anti-trafficking leaders or collectively support a local victim service provider.  </li><br>
                            <li> Businesses: Provide jobs, internships, skills training, and other opportunities to trafficking survivors. Take steps to investigate and prevent trafficking in your supply chains by consulting the Responsible Sourcing Tool and Comply Chain to develop effective management systems to detect, prevent, and combat human trafficking.   </li><br>
                            <li> College Students: Take action  on your campus. Join or establish a university club to raise awareness about human trafficking and initiate action throughout your local community. Consider doing one of your research papers on a topic concerning human trafficking. Request that human trafficking be included in university curricula.   </li><br>
                            <li> Health Care Providers: Learn  how to identify the indicators of human trafficking and assist victims. With assistance from local anti-trafficking organizations, extend low-cost or free services to human trafficking victims. Resources from the Department of Health and Human Services can be found on their website.   </li><br>
                            <li> Journalists: The media plays an enormous role in shaping perceptions and guiding the public conversation about human trafficking. Seek out some media best practices on how to effectively and responsibly report stories on human trafficking.   </li><br>
                            <li> Attorneys: Offer human trafficking victims legal services, including support for those seeking benefits or special immigration status. Resources  are available for attorneys representing victims of human trafficking.   </li><br>
                        </ol>   
                        </p>
                        <a href="https://www.state.gov/20-ways-you-can-help-fight-human-trafficking/">Source: U.S. Department of State</a>
                    </div>
                </div>
        </section>
        <section class="about-section text-center" id="Hotlines">  
            <h2 class="text-white mb-4" style="text-decoration:none">Hotlines</h2>
            <img class="img-fluid" id="HotlineModuleMap" src="https://humantraffickinghotline.org/sites/default/files/2023-01/hotline-widget-big.png" usemap="#HotlineModuleMap" alt="National Human Trafficking Hotline" width="60%"> 
            <map name="HotlineModuleMap"> 
                <area shape="rect" coords="0,0,255,43" href="https://www.humantraffickinghotline.org/" alt="National Human Trafficking hotline" title="National Human Trafficking Hotline">

                <area shape="rect" coords="8,100,82,169" href="https://www.humantraffickinghotline.org/get-help" alt="Get Help" title="Get Help">
                     
                <area shape="rect" coords="83,100,157,169" href="https://www.humantraffickinghotline.org/report-trafficking" alt="Report Human Trafficking" title="Report Human Trafficking">
                     
                <area shape="rect" coords="158,100,249,169" href="https://www.humantraffickinghotline.org/resources" alt="Human Trafficking Information &amp;amp; Resources" title="Human Trafficking Information &amp;amp; Resources">
            </map>
            <br>
            </div><a href="https://www.acf.hhs.gov/sites/default/files/documents/otip/utah_profile_efforts_to_combat_human_trafficking.pdf">Source: Utah's Human Trafficing Efforts</a>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Group 12 Missing Persons</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}